body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  gap: 1rem;
}
nav ul a {
  display: inline-block;
  padding: 0.4rem 1.4rem;
  text-decoration: none;
  position: relative;
  color: #000;
  transition: background-color 0.3s;
}
nav ul a:hover {
  background-color: gainsboro;
  color: olivedrab;
}
nav ul a::before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  left: 8px;
  bottom: 8px;
  opacity: 0;
  transition: all 0.3s;
}
nav ul a:hover::before {
  left: -6px;
  bottom: -6px;
  opacity: 1;
}
nav ul a::after {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 0;
  transition: all 0.3s;
}
nav ul a:hover::after {
  right: -6px;
  top: -6px;
  opacity: 1;
}
